a {
    text-decoration: none;
    font-weight: bold;
}

.rojo {
    color: #F00;
}

.verde {
    color: #0cbd00;
}

input[type=submit] {
    font-size: 1.2em;
    margin-top: 8px;
}

legend {
    font-size: 1.4em;
    font-weight: bold;
}

.campoNombre {
    width: 300px;
    font-weight: bold;
    display: inline-block;
}

.campoValor {
    width: 400px;
    font-weight: normal;
    display: inline-block;
}